{% assign ss = section.settings %}
{% style %}
.item:nth-child(1) { background-image: url('http://source.unsplash.com/random/300x300') ;}
.item:nth-child(2) { background-image: url('http://source.unsplash.com/random/300x401') ;}
.item:nth-child(3) { background-image: url('http://source.unsplash.com/random/300x452') ;}
.item:nth-child(4) { background-image: url('http://source.unsplash.com/random/300x423') ;}
.item:nth-child(5) { background-image: url('http://source.unsplash.com/random/300x354') ;}
.item:nth-child(6) { background-image: url('http://source.unsplash.com/random/300x425') ;}
.item:nth-child(7) { background-image: url('http://source.unsplash.com/random/300x370') ;}
.item:nth-child(8) { background-image: url('http://source.unsplash.com/random/300x310') ;}
.item:nth-child(9) { background-image: url('http://source.unsplash.com/random/300x350') ;}

{% endstyle %}

<header class="slider-header">
	<a href="https://www.instagram.com/nomz/">@nomz</a>
</header>
<main class="slider-content">
	<div class="items">
		<div class="item item1">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item2">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item3">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item4">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item5">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item6">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item7">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item8">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item9">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item10">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item11">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item12">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item13">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item14">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item15">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item16">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item17">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item18">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item19">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
		<div class="item item20">
			<a href="https://www.instagram.com/nomz/" class="item-link"></a>
		</div>
  </div>
</main>

{% schema %}
	{
		"name": "Insta Feed Widget",
		"settings": [
			{
				"type": "image_picker",
				"id": "img_1",
				"label": "Image 1"
			},
			{
				"type": "url",
				"id": "img_1_url",
				"label": "Image 1 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_2",
				"label": "Image 2"
			},
			{
				"type": "url",
				"id": "img_2_url",
				"label": "Image 2 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_3",
				"label": "Image 3"
			},
			{
				"type": "url",
				"id": "img_3_url",
				"label": "Image 3 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_4",
				"label": "Image 4"
			},
			{
				"type": "url",
				"id": "img_4_url",
				"label": "Image 4 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_5",
				"label": "Image 5"
			},
			{
				"type": "url",
				"id": "img_5_url",
				"label": "Image 5 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_6",
				"label": "Image 6"
			},
			{
				"type": "url",
				"id": "img_6_url",
				"label": "Image 6 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_7",
				"label": "Image 7"
			},
			{
				"type": "url",
				"id": "img_7_url",
				"label": "Image 7 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_8",
				"label": "Image 8"
			},
			{
				"type": "url",
				"id": "img_8_url",
				"label": "Image 8 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_9",
				"label": "Image 9"
			},
			{
				"type": "url",
				"id": "img_9_url",
				"label": "Image 9 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_10",
				"label": "Image 10"
			},
			{
				"type": "url",
				"id": "img_10_url",
				"label": "Image 10 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_11",
				"label": "Image 11"
			},
			{
				"type": "url",
				"id": "img_11_url",
				"label": "Image 11 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_12",
				"label": "Image 12"
			},
			{
				"type": "url",
				"id": "img_12_url",
				"label": "Image 12 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_13",
				"label": "Image 13"
			},
			{
				"type": "url",
				"id": "img_13_url",
				"label": "Image 13 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_14",
				"label": "Image 14"
			},
			{
				"type": "url",
				"id": "img_14_url",
				"label": "Image 14 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_15",
				"label": "Image 15"
			},
			{
				"type": "url",
				"id": "img_15_url",
				"label": "Image 15 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_16",
				"label": "Image 16"
			},
			{
				"type": "url",
				"id": "img_16_url",
				"label": "Image 16 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_17",
				"label": "Image 17"
			},
			{
				"type": "url",
				"id": "img_17_url",
				"label": "Image 17 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_18",
				"label": "Image 18"
			},
			{
				"type": "url",
				"id": "img_18_url",
				"label": "Image 18 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_19",
				"label": "Image 19"
			},
			{
				"type": "url",
				"id": "img_19_url",
				"label": "Image 19 url to instagram post"
			},
			{
				"type": "image_picker",
				"id": "img_20",
				"label": "Image 20"
			},
			{
				"type": "url",
				"id": "img_20_url",
				"label": "Image 20 url to instagram post"
			}
		]
	}
{% endschema %}