
<section class="intro">
	<div class="container-grant">
			<h1>The nomz grant</h1>
	</div>
</section>

<section class="timeline">
	<ul>
			<li>
			<div>
					<section class="grant-picture"></section>
					<h2 class="grant-item-title"></h2>
					<p class="grant-item-description"></p>    
			</div>
			</li>
			<li>
			<div>
					<section class="grant-picture"></section> 
					<h2 class="grant-item-title"></h2>
					<p class="grant-item-description"></p>       
			</div>
			</li>
			<li>
			<div>
					<section class="grant-picture"></section>
					<h2 class="grant-item-title"></h2>
					<p class="grant-item-description"></p>            
			</div>
			</li>
	</ul>
</section>
