{% assign ss= section.settings %}

<main class="wrapper">
  <section class="hero-alt">
    <h1>The nomz Grant</h1>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ut culpa laborum quaerat nam veniam, error vero dignissimos veritatis in, distinctio maiores consequatur ducimus blanditiis fugit quibusdam enim dolore ex!</p>
  </section>
  <section class="grant-info-container">
    <div id="project">	
      <div class="overlapping-feature__container">
        <div class="overlapping-feature">
    
          <div class="overlapping-feature__image overlapping-feature--left"></div>
    
          <div class="overlapping-feature__content overlapping-feature--right overlapping-feature--center">
            <div class="overlapping-feature--center image-first">
              <h2>How it started</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut similique laboriosam ut est dolorum dolor inventore velit fugiat, temporibus voluptates amet vitae odio dolore, at blanditiis porro atque aspernatur. Quibusdam.
              Doloribus mollitia natus neque magnam libero ab sint a ad delectus aliquid. Maxime, itaque dolorem laboriosam quibusdam saepe, ut qui modi reiciendis cupiditate, velit impedit tempore sapiente magni laborum nobis?</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ut cumque vel omnis laboriosam, quas quidem natus tenetur, enim voluptatum cupiditate rerum ex cum. Ducimus id ipsam itaque. Voluptate deleniti ducimus asperiores, consequuntur amet totam natus impedit quod nobis soluta.</p>
            </div>
          </div>
    
        </div>
      </div>
    </div>
    <div id="project">	
      <div class="overlapping-feature__container">
        <div class="overlapping-feature">
    
          <div class="overlapping-feature__content overlapping-feature--left overlapping-feature--center">
            <div class="overlapping-feature--center image-second">
              <h2>How to apply</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut similique laboriosam ut est dolorum dolor inventore velit fugiat, temporibus voluptates amet vitae odio dolore, at blanditiis porro atque aspernatur. Quibusdam.
                Doloribus mollitia natus neque magnam libero ab sint a ad delectus aliquid. Maxime, itaque dolorem laboriosam quibusdam saepe, ut qui modi reiciendis cupiditate, velit impedit tempore sapiente magni laborum nobis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ut cumque vel omnis laboriosam, quas quidem natus tenetur, enim voluptatum cupiditate rerum ex cum. Ducimus id ipsam itaque. Voluptate deleniti ducimus asperiores, consequuntur amet totam natus impedit quod nobis soluta.</p>
            </div>
          </div>
          <div class="overlapping-feature__image overlapping-feature--right"></div>
    
        </div>
      </div>
    </div>
  </section>
  <section class="breweries" id="breweries">
    <h2 class="recipients-title" id="redirect">Recipients of the Grant</h2>
    <ul>
      <li>
        <figure>
          <img src="https://images.unsplash.com/photo-1647404297890-dc5124e4eda9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
          <figcaption><h3>Sept 25 2020</h3></figcaption>
        </figure>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae id earum necessitatibus sit ad neque unde aliquid fuga totam cupiditate, dolore voluptate numquam, amet illum natus at eligendi minima voluptatum.
        </p>
        <a class="grant-button" data-js="open1" href="#redirect">More info</a>
      </li>
			<div class="popup1">
				<div>
          <h2>Title</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur accusamus amet quam odio voluptas vel id ipsa officiis ipsam ex voluptatum iste eum excepturi rem quibusdam, doloribus consequatur! Aliquam, perspiciatis!
          A est minus dolore voluptate odio recusandae, perferendis temporibus consequatur, nemo error ratione minima quisquam nulla. Placeat dolores, sequi hic ea recusandae iste vel. Enim eum dolores nam provident magnam?
          Reiciendis soluta fugiat quisquam odio! Ducimus vero totam reiciendis eum magni dolor velit dolores nisi minus repellendus perferendis unde saepe corrupti alias amet ipsum, cupiditate soluta, numquam quidem, modi inventore.
          </p>
          <button name="close">Close</button>
        </div>
			</div>
      <li>
        <figure>
          <!-- Photo by Drew Farwell on Unsplash -->
          <img src="https://images.unsplash.com/photo-1647404297890-dc5124e4eda9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
          <figcaption><h3>October 1, 2021</h3></figcaption>
        </figure>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae necessitatibus error tempora optio sint, harum quam nemo, omnis molestiae sed libero beatae! Possimus dolorem magni quam aliquam! Suscipit, numquam asperiores.
        </p>
        <a class="grant-button" data-js="open2" href="#redirect">More info</a>
      </li>
      <div class="popup2">
				<div>
          <h2>Title2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur accusamus amet quam odio voluptas vel id ipsa officiis ipsam ex voluptatum iste eum excepturi rem quibusdam, doloribus consequatur! Aliquam, perspiciatis!
          A est minus dolore voluptate odio recusandae, perferendis temporibus consequatur, nemo error ratione minima quisquam nulla. Placeat dolores, sequi hic ea recusandae iste vel. Enim eum dolores nam provident magnam?
          Reiciendis soluta fugiat quisquam odio! Ducimus vero totam reiciendis eum magni dolor velit dolores nisi minus repellendus perferendis unde saepe corrupti alias amet ipsum, cupiditate soluta, numquam quidem, modi inventore.
          </p>
          <button name="close">Close</button>
        </div>
			</div>
    </ul>
  </section>
  <section class="hero-alt">
    <h1>Looking to get in touch?</h1>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ut culpa laborum quaerat nam veniam, error vero dignissimos veritatis in.</p>
    <a href="../pages/contact-1" class="grant-contact-btn">Contact Us</a>
  </section>
</main>

{% schema %}
 {
   "name": "Grant Page",
   "settings": [
    {
      "type": "text",
      "id": "main_hero_title",
      "label": "Main title for the page"
    },
    {
      "type": "text",
      "id": "main_hero_subtitle",
      "label": "Main subtitle for the page"
    },
    {
      "type": "image_picker",
      "id": "main_hero_img",
      "label": "Image for top hero"
    },
    {
      "type": "text",
      "id": "section_2_title",
      "label": "Title for second section"
    },
    {
      "type": "textarea",
      "id": "section_2_text",
      "label": "Text for second section"
    },
    {
      "type": "image_picker",
      "id": "section_2_img",
      "label": "Image for second section"
    },
    {
      "type": "text",
      "id": "section_3_title",
      "label": "Title for third section"
    },
    {
      "type": "textarea",
      "id": "section_3_text",
      "label": "Text for third section"
    },
    {
      "type": "image_picker",
      "id": "section_3_img",
      "label": "Image for third section"
    },
    {
      "type": "text",
      "id": "section_4_title",
      "label": "Title for fourth section(left)"
    },
    {
      "type": "textarea",
      "id": "section_4_text",
      "label": "Text for fourth section(left)"
    },
    {
      "type": "text",
      "id": "section_4_more_title",
      "label": "More info title for fourth section(left)"
    },
    {
      "type": "textarea",
      "id": "section_4_more_text",
      "label": "More info text for fourth section(left)"
    },
    {
      "type": "image_picker",
      "id": "section_4_img",
      "label": "Image for fourth section(left)"
    },
    {
      "type": "text",
      "id": "section_5_title",
      "label": "Title for fourth section(right)"
    },
    {
      "type": "textarea",
      "id": "section_5_text",
      "label": "Text for fourth section(right)"
    },
    {
      "type": "text",
      "id": "section_5_more_title",
      "label": "More info title for fourth section(right)"
    },
    {
      "type": "textarea",
      "id": "section_5_more_text",
      "label": "More info text for fourth section(right)"
    },
    {
      "type": "image_picker",
      "id": "section_5_img",
      "label": "Image for fourth section(right)"
    },
    {
      "type": "text",
      "id": "section_6_title",
      "label": "Title for fifth section"
    },
    {
      "type": "text",
      "id": "section_6_subtitle",
      "label": "Subtitle for fifth section"
    },
    {
      "type": "image_picker",
      "id": "section_6_img",
      "label": "Image for fifth section"
    }
   ]
 }
{% endschema %}