<div class="hero_container">
    <div class="img_wrap">
        <div class="text_wrap">
            <h2 class="rewards_head">nomz rewards</h2>
            <p class="rewards_text">Join nomz rewards and get rewarded!

                You'll get 250 points just for signing up. What are you waiting for?</p>
            <a href="#" class="rewards_btn">Join now</a>
            <div class="rewards_account">
                <span class="rewards_login">Have an account?</span>
                <span class="rewards_login_alt">Login</span>
            </div>
        </div>
    </div>
</div>
<div class="info_container">
    <h3 class="info_head">How It Works</h3>
    <div class="row">
        <div class="col-md-4 info_col">
            <div class="rewards_logo_wrap">
                <div class="rewards_logo" style="background-image: url('https://cdn-icons.flaticon.com/png/512/5836/premium/5836191.png?token=exp=1646837777~hmac=9b7ae75af03f63e3ed7870d68caa77fa');">
                </div>
            </div>
            <h4 class="sub_info_head">Join Soylent Rewards</h4>
            <p class="sub_info_text">Click the “Join Now” button up above to create your account for Soylent Rewards. It’s easy and free, and then you’ll be ready to start earning points.</p>
        </div>
        <div class="col-md-4 info_col">
            <div class="rewards_logo_wrap">
                <div class="rewards_logo" style="background-image: url('https://cdn-icons.flaticon.com/png/128/4442/premium/4442179.png?token=exp=1646838340~hmac=2ecae3e9ff93572adec5ea85d4d75415');"></div>
            </div>
            <h4 class="sub_info_head">Earn Points</h4>
            <p class="sub_info_text">Once you create your account, start completing the items below to begin earning points for referring friends, following us on social media, and more!</p>
        </div>
        <div class="col-md-4 info_col">
            <div class="rewards_logo_wrap">
                <div class="rewards_logo" style="background-image: url('https://cdn-icons.flaticon.com/png/512/2283/premium/2283470.png?token=exp=1646838405~hmac=9fb2211544751a82ab91b3c6c68bc003');"></div>
            </div>
            <h4 class="sub_info_head">Redeem</h4>
            <p class="sub_info_text">Once you have enough points to redeem a reward, check out the Rewards section to get codes to apply to your next order (it even works on subscriptions!). Copy your code and enter it in and checkout. Voila! You’re good to go.</p>
        </div>
    </div>
</div>
<div class="refer_container">
    <div class="refer_text_wrap">
        <h3 class="refer_info_head">Refer Friends & Earn Points</h3>
        <p class="refer_info_text">Love Soylent? Refer friends and earn 10,000 Soylent Rewards Points for each sign up.</p>
        <a href="#" class="refer_btn">Start Referring</a>
    </div>
</div>