/*Shopping cart overrides*/

.cart-item--rivets .header__container .cart-item-image {
  width: 85px;
  height: 85px;
  display: block; }
@media screen and (max-width: 589px) {
  .cart-item--rivets .right-area {
  height: 82px;
  display: flex;
  flex-direction: column;
  margin-left: -11px;
  justify-content: space-between;}
}

.cart-item--rivets .right-area {
  width: calc(100% - 85px);
  padding-left: 0px; 
}

.cart-item--rivets .left-area {
  width: 100px; }

.quantity-selector-num {
  border: none; }

.cart-item--rivets .right-area .cart-item-frequency {
  margin: 0; }

.cart-item--rivets .right-area .cart-item-frequency .subscription-select-trigger > span {
  text-transform: uppercase;
  color: #202020;
  letter-spacing: 0.90px;
  border: 1px solid #6CACE4; 
  border-radius: 0.25em;
  padding: 0.1em 0.3em;
  top: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cart-item--rivets {
  height: 110px }

.cart-item--rivets .right-area header {
  margin: 0; }

.side-cart .inner .cart-header {
  padding: 7px 32px;
  background: rgba(240, 187, 90, 0.15); }

.side-cart .inner .cart-header .cart-title {
  margin:0; }

.side-cart .inner .cart-header .cart-title .h2 {
  line-height: 40px; }

@media screen and (max-width: 589px) {
  .side-cart .inner .cart-header .cart-title .h2 {
  line-height: 20px; }
}

.side-cart .inner .cart-header .cart-title .h2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  padding: 0;
  margin-bottom: 0; } 

.coupon-area {
  box-sizing: inherit; 
  margin-bottom: 5px;}

.coupon-area .coupon-btn {
  padding: 0; }

.side-cart .inner footer .total-area {
  margin-bottom: 10px; 
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(32,32,32,.1);}

.coupon-area-expand {
  display:none;
  margin: 15px 0; }

.coupon-input {
  width:75%; 
  border: 1px solid #6CACE4;
  padding: 10px 30px 10px 10px;}


.coupon-submit {
  width:25%;
  border: 1px solid #6CACE4;
  border-left: none;
  background-color: #6CACE4;
  color: white;
  padding: 12px;
}

#coupon-msg {
  color: #202020;
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media screen and (max-width: 589px) {
  .cart-item--rivets .right-area header .cart-item-product-title {
    font-size: 14px; } }


@media screen and (max-width: 589px) {
  .cart-item--rivets .right-area .quantity-selector input {
    height: 36px;
    width: calc(100% - 100px); } }

.cart-title {
  width: 64%;
}

@media screen and (max-width: 589px) {
  .cart-title {
    width:70%;
  }
}

.cart-count-header {
  animation: .5s ease 0s 1 normal forwards running;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 3px;
  right: 167px;
  width: 20px;
  height: 20px;
  font-weight: 900;
  border-radius: 50%;
  background-color: #eece8d;
  font-size: 12px;
}

@media screen and (max-width: 589px) {
  .cart-count-header { 
    top: 3px;
  	right: 85px;
  }
}

@media screen and (max-width: 589px) {
  .side-cart .inner .cart-header {
    padding: 6px 17px 6px 16px; } }


#upsell-item {
  height: 104px;
  margin-left: -33px;
}

.cart-item--rivets.cart-item--upsell .right-area {
  margin: 0;
  height: 93px;
}

.cart-item--rivets .left-area .cart-item-image img {
  border-radius: 0.2em;
}

@media screen and (max-width: 589px) {
  .cart-item--rivets .left-area .cart-item-image img {
    width:85%;
    height:85%;
  }
}

.cart-item--rivets.cart-item--upsell .left-area a img {
  border-radius: 0.4em;
  width: 60%;
  height: 60%;
  left: 16px;
  top: 3px;
} 

@media screen and (max-width: 589px) {
  .cart-item--rivets.cart-item--upsell .left-area a img {
    width: 83%;
    height: 83%;
    margin-left: -15px;
  }
}

.cart-item--rivets.cart-item--upsell .left-area {
    width: 60%;
}
.side-cart .inner .main-items .main-items-scroll .upsell-items {
  padding-top: 15px;
}

.side-cart .inner .main-items .main-items-scroll .upsell-items h3 {
  margin-bottom: 15px;
  padding: 5px;
}

.nom-alert {
  position: relative;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  background-color: #EECE8D; 
  border-radius: 0.25rem;
  transition: opacity .15s linear;
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: -15px;
}

.nom-close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-align: center;
  margin-top: 0.25rem;
}

.nom-alert > p {
  font-size: .82rem;
  margin:0.3rem 0 0 0;
  display:flex;
  align-items: center;
}

@media screen and (max-width: 589px) {
  .nom-alert>p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 589px) {
  #upsell-item {
    margin-left: -16px;
    display: grid;
    align-content: space-between;
  }
}

.cart-item--rivets.cart-item--upsell .right-area .btn {
    font-weight: 400;
    width: 55%;
    min-width: 50%;
    padding: 8px 24px;
}  

@media screen and (max-width: 589px) {
  .cart-item--rivets.cart-item--upsell .right-area .btn {
    padding: 4px 12px;
    width: 80%;
    min-width: 80%;
    margin-top:0;
  }
}

@media screen and (max-width: 589px) {
  .cart-item--rivets.cart-item--upsell .left-area {
    width: 100px;
  }
}

.cart-item--rivets.cart-item--upsell .right-area .cart-item-product-title {
  margin: 0 0 6px; }

@media screen and (max-width: 589px) {
  .cart-item--rivets.cart-item--upsell .right-area .cart-item-product-title {
    margin: 0 0 8px;
  }
}

@media screen and (max-width: 589px) {
  .side-cart .inner .main-items .main-items-scroll .upsell-items h3 {
      margin-bottom: 10px;
  }
}

.side-cart .inner .free-shipping-notice {
  padding: 8px;
  font-family: 'Gotham Rounded Medium';
  font-size: 14px;
}

.cart-item--rivets .right-area header .cart-item-remove svg {
  width: 9px;
  margin: 0 0 2px 1px;
}
 
.cart-item--rivets.cart-item--upsell {
  width: 100%;
  margin: 0 0 12px;
  padding: 0;
  flex-direction: row;
}


@media screen and (max-width: 589px) {
  .cart-item--rivets.cart-item--upsell {
    margin: 0 0 3px;
  }
}
.upsell-price-btn {
  display:grid;
  align-content:space-between;
  gap:5px;
}
.cart-item--rivets .right-area .quantity-selector {
  border: solid 1px rgba(0, 0, 0, 0);
  width: 100%;
  margin:16px 0 0;
}

@media screen and (max-width: 589px) {
  .cart-item--rivets .right-area .quantity-selector {
    margin:0;
  }
}

/* Nav-drawer overrrides */

@media only screen and (min-width: 590px){
  .drawer {
      padding: 0 12px 19px;
  }
}
@media only screen and (min-width: 590px){
  .drawer__inner {
      top: 70px;
      padding-left: 20px;
      padding-right: 40px;
  }
}

@media only screen and (min-width: 590px){
  .drawer__fixed-header {
    left: 21px;
    right: 36px;
  }
}

.drawer__fixed-header {
  top: 5px;
}

.mobile-nav__sublist .mobile-nav__link, .mobile-nav__sublist .mobile-nav__faux-link {
  margin-left: -23px;
}

.mobile-nav__grandchildlist .mobile-nav__link {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 17px;
  margin-right: 30px;
  width:50%;
  border-bottom: 1px solid #4F4F4F;
  {%if link.url == '/pages/subscription' %}margin-bottom:10px{% endif %}
}

.mobile-nav__grandchildlist .mobile-nav__link:active {
    background-color: #6CACE4;
    transition: all 0.3s;
}

.mobile-nav__has-sublist .mobile-nav__link {
  padding: 7px 20px;
}

#no-drop-down-story{
  width:98%;
  padding: 18px 17px 18px 7px;
  font-size: 20px;
  margin-left: 10px;
  border-bottom: 1px solid #4F4F4F;
}

#no-drop-down-account{
  width:98%;
  padding: 18px 17px 18px 7px;
  font-size: 20px;
  margin-left: 10px;
  border-bottom: 1px solid #4F4F4F;
}

.drawer__close-button {
  margin-bottom: 31px;
}

@media only screen and (min-width: 769px){
  .drawer__close-button {
      right: -30px;
  }
}

.currency-picker--drawer {
  margin-bottom: 31px;
  margin-left:-3px;
}

@media only screen and (max-width: 590px) {
  .drawer__inner {
    top: 30px;
  }
}

.drawer__header {
  padding: 0 0 44px 0;
}

.is-open .collapsible-content__inner {
  margin-top: -10px;
}

.mobile-nav__has-sublist .mobile-nav__link {
  padding: 18px 17px 18px 7px;
  font-size: 20px;
}

.mobile-nav__has-sublist {
  margin-left: 10px;
  border-bottom: 1px solid #4F4F4F;
  width:98%;
}

.mobile-nav>.mobile-nav__item {
  background-color: white;
}

.drawer--left {
  background-color: white;
}

.mobile-nav__child-item > a {
  margin-top:10px;
}

.mobile-nav__child-item > button {
  margin-top:10px;
}

.mobile-nav__sublist .mobile-nav__item:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.mobile-nav__sublist .mobile-nav__item:first-child {
  margin-top: 10px;
}

.mobile-nav__has-sublist .collapsible-trigger__icon {
  right:12px;
}

.drawer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-div-style {
  width: 50%;
  padding: 0px 17px 0px -1px;
  font-size: 20px;
  margin-left: 17px;
  border-bottom: 1px solid #4F4F4F;
}

.about-us-a-style {
  padding-left: 23px!important;
  padding-top: 2px!important;
}

.has-sublist-about-us {
  margin-top: 8px;
  margin-bottom: 10px;
}

.mobile-nav__grandchildlist .mobile-nav__link:last-child{
  margin-bottom:10px;
}

@media only screen and (max-width: 590px) {
 .mobile-nav__has-sublist {
   width:93%;
 }
 #no-drop-down-story{
   width:93%;
 }
 #no-drop-down-account{
   width:93%;
 }
}




/* desktop shop drop down overrides*/
.header-section--v2 .megamenu-init .megamenu-init-inner {
  justify-content: end;
  max-width:1000px;
  margin: 0 0 0 46%;
}

.header-section--v2 .megamenu-init .feat-prdct-grd-items-wrapper {
  max-width: 674px;
  margin-right: -200px;
}

.header-section--v2 .megamenu-init .feat-prdct-grd-items-wrapper .feat-prdct-grd-items {
  min-width: 1134px;
}

.header-section--v2 .megamenu-init .featured-products-megamenu:after {
  display:none;
}

.header-section--v2 .megamenu-init .featured-products-megamenu:before {
  display:none;
}

.header-section--v2 .megamenu-init ul li:last-child a {
  width: 662px;
}

.header-section--v2 .megamenu-init {
  margin: 24px 0% 0 3rem;
  top: 111px;
  max-width: 86%;
  right: 0;
  border-radius: 0.4rem;
  padding: 15px 0 25px;
}


@media screen and (max-width: 1400px){
  .header-section--v2 .megamenu-init {
    margin-left:2rem;
    max-width:87%;
  }
}

@media screen and (max-width: 1350px){
  .header-section--v2 .megamenu-init {
    margin-left:1rem;
    max-width:91%;
  }
}

@media screen and (max-width: 1320px){
  .header-section--v2 .megamenu-init {
    margin-left:1rem;
    max-width:94%;
  }
}

@media screen and (min-width: 1500px){
  .header-section--v2 .megamenu-init {
    margin-left:6rem;
    max-width:81%;
  }
}

@media screen and (min-width: 1600px){
  .header-section--v2 .megamenu-init {
    margin-left:8rem;
    max-width:76%;
  }
}

@media screen and (min-width: 1700px){
  .header-section--v2 .megamenu-init {
    margin-left:11rem;
    max-width:72%;
  }
}

@media screen and (min-width: 1850px){
  .header-section--v2 .megamenu-init {
    margin-left:16rem;
    max-width:67%;
  }
}

@media screen and (min-width: 2000px){
  .header-section--v2 .megamenu-init {
    margin-left:20rem;
    max-width:62%;
  }
}

.site-nav__dropdown {
  min-width:50%;
}

.header-section--v2 .megamenu-init .site-nav__deep-dropdown-trigger {
  padding: 0px 30px 0 0;
  width: 245px;
}
/* remove yotpo logo */

.yotpo-logo-title {
  display:none;
}


.yotpo-modal-logo{
  visibility:hidden;
}

.yotpo-logo-link-new{
  border-bottom: transparent!important;
}

/* footer overrides */

@media screen and (max-width: 834px){
  .site-footer--v2 .site-footer__items .site-footer__item {
    width:50%!important;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 834px){
  .collapsible-trigger__icon {
    right: 5%;
  }
}

/* universal blue buttons */

.grid-product.grid-product--flex .grid-product__content .btn {
  background-color: transparent;
  border-color: #6cace4;
  border-style: solid;
  color: #6cace4;
}

.cart-item--rivets.cart-item--upsell .right-area .btn {
  background-color: transparent;
  border-color: #6cace4!important;
  border-style: solid;
  color: #6cace4!important;
}

.btn:hover, .btn:focus{ 
  background-color: #6cace4!important;
  border-color: #6cace4!important;
}
/* side to side problem on mobile */

@media screen and (max-width: 589px) {
	html, body{
      width:auto!important;
      overflow-x: hidden!important;
	}
}

/* Migration reconstruction of pages overrides */

.landing-block--background-image-text .ffc-background-image-text__image {
  background-size: cover!important;
}

.ffc-page-subscription-landing .landing-block--logo-list .logo-bar__item img {
  width:100%;
  height:100%;
}

.ffc-page-subscription-landing .landing-block--subscription-product .ffc-select-subscription .product-image-main img{
  max-width: 100%;
}

.main-faq-area .index-section--faq {
  margin:0;
}

#shopify-section-page-faq-template .main-faq-area .index-section--faq .h2 {
  margin-bottom: 10px;
}

.is-open .collapsible-content__inner--faq {
  margin-top: 0;
}

.main-faq-area .type--rich-text:not(:first-child){
  margin-top:30px;
}

.page-contact .hero-slideshow {
  margin-top:-2.39rem;
}

/* Landing page and product page organization */

.grid-product.grid-product--ffc .grid-product__meta{
  display:flex;
  flex-direction:column;
}

@media screen and (max-width: 589px) {
  .grid-product.grid-product--ffc .grid-product__meta{
    row-gap:15px;
  }
}

@media screen and (max-width: 589px) {
  .ffc-featured-collection__list .grid-product.grid-product--ffc .grid-product__meta{
    row-gap:0px;
  }
}

.grid-product.grid-product--ffc.medium-up--one-quarter .grid-product__meta .grid-product__title-price .grid-product__title{
  color: #4F4F4F;
}

.grid-product.grid-product--ffc.medium-up--one-fifth .grid-product__meta .grid-product__title-price .grid-product__title{
  color: #4F4F4F;
}

.grid-product.grid-product--ffc .grid-product__meta .grid-product__title-price{
  height: 66px;
  flex-direction: column;
}

@media screen and (max-width: 589px) {
  .page-width, .page-full{
    padding: 0px 14px;
  }
}

.grid-product .grid-product__image-mask .image-wrap{
  padding-bottom:120%!important;
}

.grid-product__price-orangl{
  height:auto;
}

@media screen and (max-width: 834px){ 
  .grid-product.grid-product--ffc--subscription .grid-product__title-price .grid-product__price {
    flex-basis:0px;
  }
}

@media screen and (min-width: 834px){ 
  .slick-track{
    display:flex;
  }
  .product__thumbs{
    margin-right: -10px;
    margin-left: 0px;
    padding: 0px 95px;
  }
  .product__main-photos .starting-slide img, .product__main-photos .slick-initialized img {
    max-width: 430px;
    max-height: 650px;
  }
  .product__main-photos{
    height:535px;
  }
  .product-single__meta{
    padding-left: 0;
    margin-left:-30px;
  }
  .product-single__description {
    padding-left:0;
    margin-left:-30px;
  }
}

/* input form border */

.input-full{
  border: 1px solid #4F4F4F;
}

/* sidecart shadow and background */

.side-cart.shown{
  background-color: transparent;
}

.side-cart.shown .inner{
  box-shadow: -4px 0px 7px 0px rgb(0 0 0 / 15%);
}

/* Make hero text on homepage selectable */

.index-section--hero .hero__text-wrap {
  pointer-events: auto;
}

/* satisfaction guarantee section */

.ffc-background-image-text .ffc-background-image-text__image{
  padding: 140px 0 24px;
}

.ffc-background-image-text .ffc-background-image-text__image .content-area.content-area--left{
  margin: -115px auto 0px 0;
}

.ffc-background-image-text .ffc-background-image-text__image .content-area{
  background: none;
  box-shadow: none;
}

.ffc-background-image-text .ffc-background-image-text__image {
  padding: 0;
  height: 0;
  overflow: hidden;
  padding-top: 10%;
  padding-bottom: 17%;
  background-size: cover;
  background-position: top -65px right 0px;
}
@media screen and (max-width:768px){
  .ffc-background-image-text .ffc-background-image-text__image {
    padding: 22% 0px 100%;
    background-position: right -71px top -48px;
  }
  .ffc-background-image-text .ffc-background-image-text__image .content-area.content-area--left{
    margin: -5rem 0 0 0 !important;
    padding: 32px 2px 24px;
  }
  .ffc-background-image-text .ffc-background-image-text__image .content-area .rte, .ffc-background-image-text .ffc-background-image-text__image .content-area .rte p {
    font-size: 13px;
  }
  .ffc-background-image-text .ffc-background-image-text__image{
    background-position: right 0px top -231px;
  }
}


/* category page remove stuff */
@media screen and (max-width: 590px){
  .yotpo .text-m{
    padding-left:3px;
  }
}


/*                                */
/* our story page redesign styles */
/*                                */

.top-section{
  padding: 2.5em 0 0;
  margin-top: -32px;
}

.main-container{
  max-width: 85%;
  margin: 0 auto;
  padding: 0 1em;
}

.text-head{
  background-color: #6CACE4;
  height: 100%;
  padding: 30px;
}

.image-head{
  height:100%;
  width:100%;
}

.inside-text-head{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  color: #fff;
  background-color: inherit;
  padding: 0.5em;
  font-family: 'Gotham Rounded Bold';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75em;
  letter-spacing: 1px;
  color: #fff;
  text-align: left;
}

.ss1-head {
  font-size: 40px;
  text-align: left;
}

.ss1-text{
  font-size: 22px;
  font-weight:700;
}

.hero-image{
  box-sizing: border-box;
}

.inside-content {
  background-color: #f8f9fa;
  padding: 2em 1.5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inside-content-text{
  max-width:834px;
  padding:0 2.9em;
}

.middle-text{
  font-size: 19px;
}

.image-middle{
  margin-top: 0.6rem;
}

.middle-heading{
  font-size: 3rem;
}

.inside-content-grant {
  background-color: #B9A7D1;
  padding: 2em 1.5em;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.grant-text{
  font-size: 19px;
  color:white;
}

.grant-heading{
  font-size: 3rem;
  color:white;
}

.grant-btn{
  margin-top:-0.4rem;
  border-radius:0.2rem;
  color: #AE9CDB;
  border: 1px solid AE9CDB;
  background:white;
  font-size:1.2rem;
}
.grant-btn:hover, .grant-btn:focus{
  color: white;
  background: #AE9CDB!important;
  border: #AE9CDB!important;
}

.bottom-heading{
  font-size: 2.5rem;
}

.main-container-ingredients{
  max-width: 95%;
  margin: 0 auto;
}

.inside-content .product-ingredients-section .product-ingredients .ingredient-items .image-area{
  background-color:#4f4f4f;
}
@media (min-width: 768px){
  .inside-content {
    padding: 3em 1.5em;
  }
  .inside-content-grant, .bottom-section .inside-content{
    margin-top: 4rem;
  }
  .inside-content-grant {
    justify-content: space-evenly;
    padding: 4rem 1.5rem;
  }
  .middle-heading, .grant-heading{
    margin-bottom: 2.5rem!important;
  }
}
@media screen and (max-width:590px){
  .main-container{
    max-width:90%;
  }
  .inside-content-text{
    padding:0;
  }
  .middle-heading, .grant-heading{
    font-size:2rem;
  }
  .bottom-heading{
    padding:0;
  }
  .middle-text, .grant-text {
    font-size:15px;
  }
  .grant-text{
    margin-top:15px;
  }
  .ss1-head {
	margin-bottom:40px;
  }
  .ss1-text{
    font-size: 21px;
    margin-bottom:0;
  }
  .top-text-section{
    margin-top:15px;
    order:1;
  }
  .inside-content, .inside-content-grant{
    padding-right:1rem;
    padding-left:1rem;
  }
  .text-head {
	padding:8px;
  }
  .middle-section-images{
    padding-right:0;
    padding-left:0;
  }
  .ingredient-block{
    padding-left:20px;
  }
  .grant-btn{
    margin-top: 1.6rem;
  }
  .grant-text-wrap, .grant-image-wrap{
    padding: 0;
  }
}

.inside-content .product-ingredients-section .product-ingredients .ingredient-item .content-area{
  width: 92%;
}
/* .inside-content .image-area{
  pointer-events: none;
} */
/* .inside-content .image-area::after{
  content: "";
  position: absolute;
  pointer-events: all;
  display: block;
  background-size: cover!important;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url('https://cdn-icons.flaticon.com/png/128/1665/premium/1665629.png?token=exp=1646677151~hmac=ef5e7f771cd6f59412bd366177fd10b9');
} */
.image-area:hover .image-area:focus{
  background: #4f4f4f;
}
/* .product-ingredients-section .product-ingredients .ingredient-item:hover .image-area img, .product-ingredients-section .product-ingredients .ingredient-item:focus .image-area img{
  display: none;
}
.product-ingredients-section .product-ingredients .ingredient-item:hover .image-area, .product-ingredients-section .product-ingredients .ingredient-item:focus .image-area{
  background: #4f4f4f;
}
.product-ingredients-section .product-ingredients .ingredient-item:hover .content-area .rte, .product-ingredients-section .product-ingredients .ingredient-item:focus .content-area .rte{
  max-height: 100%;
  color: white;
  transition: all 1s;
}
.product-ingredients-section .product-ingredients .ingredient-item:hover .content-area h3, .product-ingredients-section .product-ingredients .ingredient-item:focus .content-area h3{
  color: white;
  transition: all 0.5s;
} */
.more_info_btn{
  position: absolute;
  display: block;
  background-size: cover!important;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url('https://cdn-icons-png.flaticon.com/128/992/992651.png');
  transition: background-color 0.5s;
  border-radius: 50%;
  cursor: pointer;
}
.active .more_info_btn {
  background: url('https://cdn-icons-png.flaticon.com/512/1828/1828906.png');
}

.inside-content .product-ingredients-section .product-ingredients .ingredient-item .image-area , .inside-content .product-ingredients-section .product-ingredients .ingredient-item h3 {
  transition: all 0.5s;
}

.inside-content .product-ingredients-section .product-ingredients .ingredient-item .rte{
  max-height:0;
  overflow: hidden;
}
.inside-content .product-ingredients-section .product-ingredients .ingredient-item.active .image-area  {
  background: #4f4f4f;
}

.inside-content .product-ingredients-section .product-ingredients .ingredient-item.active .image-area img {
  display: none;
}

.inside-content .product-ingredients-section .product-ingredients .ingredient-item.active h3, 
.inside-content .product-ingredients-section .product-ingredients .ingredient-item.active .rte{
  color: white;
  max-height: 100%;
  transition: all 0.5s;
}

/* Yotpo Testimonials button color */

#yotpo_testimonials_btn{
  background-color: #6CACE4!important;
}

/* Product Thumbnail size organization */
.product__thumb img{
  height: 5.8rem;
  width:4.6rem;
}

/* satisfaction guarantee section */

.image-and-t{
  height:100%;
}

/* shop dropdown disappearing in small range */

.header-section--v2 .megamenu-init:before {
  height:150px;
  top:-130px;
}

/* Short mobile description */

.short-description__mobile{
  display:none;
}

@media screen and (max-width: 590px){
  .short-description__mobile{
    display:block;
    font-size: 0.8rem;
  }
}

/* Embedded register login page */

.embed-register_section{
  margin:0 0 50px;
  padding: 0 80px;
}

.embed-register_wrap{
  background:#6CACE4;
  border-radius: 0.3rem;
}

.embed-register_head{
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.embed-register_text{
  font-size:1.5rem;
  line-height:1.80;
  margin-left:20px;
  color: white;
}

.embed-register_text li{
  list-style-type: none;
  margin-left: 1rem;
}
.embed-register_text li:before{
  content:"";
  position: absolute;
  margin-left: -2rem;
  width: 1.3rem;
  height: 1.3rem;
  margin-top:0.7rem;
  background-image: url("https://cdn-icons-png.flaticon.com/128/4892/4892322.png");
  background-size: cover;
}

.embed-register_left{
  padding:50px 100px;
}
.embed-register_right{
  padding:50px 100px;
}

.embed-form_input{
  border:none;
  background:white;
  margin:10px 0;
}
.embed-form_input::placeholder{
  color:#343333;
}
.embed-form_label{
  margin-top: 10px;
  color: white;
}

.embed-form_btn{
  background: #4f4f4f;
  margin-top: 15px;
}

.embed-form_btn:hover, .embed-form_btn:focus{
  background: #202020;
}
.embed-register_right-inside{
  width: 75%;
}

/* Almond energy bites page */

.product-single__form .product-qty-atc .add-to-cart.btn--filled.btn--almond{
  background: transparent;
  border:1px solid #6CACE4;
  color:#6CACE4!important;
}

.product-single__form .product-qty-atc .add-to-cart.btn--filled.btn--almond:hover, .product-single__form .product-qty-atc .add-to-cart.btn--filled.btn--almond:focus{
  background-color: #6CACE4!important;
  border:1px solid #6CACE4!important;
  color:white!important;
}

/* Upsell titles and hover state */

.cart-item--rivets.cart-item--upsell .right-area .color--pistachio .btn:hover, .cart-item--rivets.cart-item--upsell .right-area .color--pistachio .btn:focus{
  background-color: #6CACE4!important;
  border:1px solid #6CACE4!important;
  color:white!important;
}

.cart-item--rivets.cart-item--upsell .right-area .cart-item-product-title {
  color:#202020!important;
}
  
/* metafield tag position on product page */
.product__photos .product__main-photos .grid-product__label{
  right:107px;
}

/* from text on collections */

.from-text{
  font-size: 16px;
  color: #4f4f4f;
}

.grid-product.grid-product--ffc--subscription .grid-product__title-price .grid-product__price .grid-product__price-orgnl .money{
  font-size: 16px;
}

.grid-product.grid-product--ffc .grid-product__meta .grid-product__title-price .grid-product__price .money{
  color:#4F4F4F;
}

/* product video */
.product__video {
 height:69%;
}

.grid-product .grid-product__image-mask .grid-product__secondary-image video{
  width:120%;
}

/* product thumbnails mobile */
@media screen and (max-width:590px){
  .product__thumb img{
    height:4.7rem;
  }
}

@media screen and (max-width:590px){
  .display-none-mobile{
    display:none!important;
  }
}

/* non-updated phones price in grid */
@media screen and (max-width:590px){
  .grid-product__price-orgnl{
    margin-top:15px;
  }
}

/* mobile content padding */


@media only screen and (max-width: 589px){
  .product-section .page-content {
    padding-top: 0px;
  }
  .main-content {
    padding-top: 0px!important;
  }
  .page-content, .shopify-policy__container{
    padding-top:15px;
  }
  .product-section .page-content{
    padding-top:15px;
  }
}

/* faq redesign styles */

.accordion-container-faq{
  margin: 0;
  padding: 5rem;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #eef3fd;
  margin-top: -3.1rem;
}

.accordion-container_no-title {
  margin: 0;
  padding: 5rem;
  padding-top: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #eef3fd;
  margin-top: -5rem;
}
.accordion-faq{
  background-color: white;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
}

.accordion-header-faq {
  padding: 3rem 3.5rem;
  font-size: 1rem;
  text-align: center;
}

.accordion-item-faq {
  padding: 0rem 2rem;
  padding-top: 0;
  background-color: white;
}

.accordion-item-category-faq {
  padding: 0rem 3.6rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-header-faq {
  font-size: 1.5rem;
  margin-bottom: 0;
  display: inline-block;
}


.accordion-item-inner-faq:hover, .accordion-item-inner-faq:focus {
  background: #eff4fc;
}
.accordion-item-inner-faq {
  background: white;
  transition: background 0.25s;
}

.accordion-item-header-faq {
  display:flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem 0 1.3rem;
  transition: all 0.25s;
}

ion-icon[name="remove-outline"] {
  display: none;
}

ion-icon[name="add-outline"] {
  margin-top: 0.15rem;
}

.accordion-item-button-faq {
  width: 2rem;
  height: 2rem;
  border-radius: 20%;
  border: none;
  margin: 0.5rem 0 0 1rem;
  padding: 0;
  padding-top: 0.3rem;
  background: white;
  transition: background 0.25s;
}

.accordion-item-body-faq {
  margin: 0 4rem;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s, margin 0.25s;
}

.accordion-column-faq{
  max-height: 22rem;
  margin-top: 2rem;
  overflow: hidden;
  transition: max-height 2s;
}

.accordion-column-faq.active-faq-col{
  max-height: 200rem; 
}

.accordion-item-question-faq {
  margin-bottom: 0;
  margin-top: 0.5rem;
  width: 80%;
}

.accordion-item-description-faq {
  margin-bottom: 3.5rem;
}

.active-faq .accordion-item-body-faq {
  max-height: 25rem;
  margin: 1rem 4rem;
}
.active-faq-all .accordion-item-body-faq {
  max-height: 25rem;
  margin: 1rem 4rem;
}

.active-faq-all .active-faq .accordion-item-body-faq {
  max-height: 0rem;
  margin: 1rem 4rem;
}
.active-faq .accordion-item-button-faq, .active-faq-all .accordion-item-button-faq {
  background: white;
}


.accordion-item-inner-faq .active-faq, .accordion-item-inner-faq .active-faq-all  {
  background: #eff4fc;
}

.active-faq ion-icon[name="remove-outline"], .active-faq-all ion-icon[name="remove-outline"] {
  display:block;
  margin-left: 0.52rem;
  margin-bottom: 0.32rem;
}
.active-faq-all .active-faq ion-icon[name="remove-outline"] {
  display:none;
}

.active-faq ion-icon[name="add-outline"], .active-faq-all ion-icon[name="add-outline"] {
  display:none;
}
.active-faq-all .active-faq ion-icon[name="add-outline"] {
  display:block;
  margin:0;
  margin-left: 0.52rem;
  margin-bottom: 0.32rem;
}

@media screen and (min-width: 589px){
  .accordion-faq > .row > .col-md-6:first-of-type {
    padding-right: 0;
  }
  .accordion-faq > .row > .col-md-6:first-of-type .accordion-item-faq {
    padding-right: 0;
  }
  .accordion-faq > .row > .col-md-6:first-of-type .accordion-item-category-faq {
    padding-right: 0;
  }
  
  .accordion-faq > .row > .col-md-6:nth-of-type(2) {
    padding-left: 0;
  }
  
  .accordion-faq > .row > .col-md-6:nth-of-type(2) .accordion-item-faq {
    padding-left: 0;
  }
  
  .accordion-faq > .row > .col-md-6:nth-of-type(2) .accordion-item-category-faq {
    padding-left: 1.5rem;
  }
  
  .accordion-faq > .row > .col-md-6:nth-of-type(2) .expand-btn {
    margin-left: 1.5rem;
  }
  
  .accordion-faq > .row > .col-md-6:nth-of-type(2) .close-btn {
    margin-left: 1.5rem;
  }
  .accordion-faq > .row {
    margin-bottom: 1rem;
  }
}


@media screen and (min-width:768px) {
  .kl-teaser-Vjzwx2 { 
    left: 10%!important;
  }
}



.close-btn, .expand-btn {
  display: inline;
  padding: 0.5rem 0.9rem;
  margin-top: 1rem;
  margin-left: 3.5rem;
  font-weight: 600;
  background: white;
  border-radius: 0.2rem;
  color: #A4CC87;
  border: 1px solid #A4CC87;
  transition: background-color 0.2s;
  cursor: pointer;
}

.close-btn:hover, .close-btn:focus, .expand-btn:hover, .expand-btn:focus {
  background-color: #A4CC87;
  color: white;
}

.close-btn {
  display: none;
}

.btn-wrap-faq {
  margin: 1.5rem 0;
}

@media screen and (max-width:590px){
  .accordion-container-faq{
    padding: 3.5rem 1rem 1rem;
  }
  .accordion-container_no-title{
    padding: 0 1rem;
  }
  .accordion-container_no-title .accordion-faq{
    padding-top: 3.5rem;
  }
  .accordion-item-faq{
    padding: 0;
  }
  .close-btn, .expand-btn {
    margin-left: 1.5rem;
  }
  .accordion-item-category-faq {
    padding: 0 0.5rem 0 1.6rem;
  }
  .accordion-column-faq {
    margin-bottom: 2rem;
  }
  .accordion-header-faq{
    padding: 3rem 0;
  }
  .accordion-faq {
    padding: 0;
  }
  .accordion-item-body-faq {
    margin: 1rem 2rem;
  }
  .active-faq .accordion-item-body-faq {
    margin: 1rem 2rem;
  }
  .accordion-item-header-faq{
    padding: 0;
  }
  .active-faq .accordion-item-header-faq{
    padding: 1rem 0 1.3rem;
  }
}

.expand-all-btn, .collapse-all-btn {
  padding: 0.6em 0.6em 0.4em;
  margin-right: 0.4em;
  display:inline-block;
  font-size: 0.8rem;
  background: white;
  font-weight: 600;
  transition: text-decoration 0.2s ease-in-out;
}

.expand-all-btn:after, .collapse-all-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #4f4f4f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.expand-all-btn:hover:after, .expand-all-btn:focus:after, .collapse-all-btn:hover:after, .collapse-all-btn:focus:after{
  width: 100%; 
  left: 0; 
}
/* wholesale initial redesigns */


.ffc-page-wholesale-landing .ffc-background-image-text__image{
  height:30rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-size: cover;
  background-position: center;
}
.ffc-page-wholesale-landing .ffc-background-image-text__image .page-width{
  margin:0;
  margin-left: 5rem;
  max-width: 50%;
}
.ffc-page-wholesale-landing .ffc-background-image-text__image .page-width .content-area .h3 {
  font-size: 3rem;
}
.ffc-page-wholesale-landing .ffc-background-image-text__image .page-width .content-area .rte p{
  font-size: 1.2rem;
}
.ffc-page-wholesale-landing .landing-block .ffc-background-image-text__image .page-width .content-area .btn{
  border-radius: 0.1em;
}
.ffc-page-wholesale-landing .landing-block .ffc-background-image-text__image .page-width .content-area .btn:hover, .ffc-page-wholesale-landing .landing-block .ffc-background-image-text__image .page-width .content-area .btn:focus{
  background: #AE9CDB!important;
  border-color: #AE9CDB!important;
  color: #fff;
}
  
@media (max-width: 590px) {
  .ffc-page-wholesale-landing .ffc-background-image-text__image{
  height:40rem;
  display:flex;
  flex-direction:column;
  justify-content:start;
  }
  .ffc-page-wholesale-landing .ffc-background-image-text__image .page-width{
    margin:3rem 0 0;
    max-width: 100%;
    text-align: center;
  }
  .ffc-page-wholesale-landing .ffc-background-image-text__image .page-width .content-area .h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .ffc-page-wholesale-landing .ffc-background-image-text__image .page-width .content-area .rte p{
    font-size: 1rem;
  }
}

.landing-block--background-image-text .content-area .btn {
  background-color: #ae9cdb!important;
  border-color: #ae9cdb!important;
  color: #ffffff!important;
}
/* display none class */

.dis-none {
  display:none!important;
}


/* benefits section wholesale */

.ben-container {
  box-sizing: border-box;
}

.ffc-page-wholesale-landing .ben-container{
  margin-bottom: -5rem;
}

.ben-head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.ben-head-text {
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  color: #202020;
}

.ben-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}
.ben-main .row {
  width: 100%;
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: center;
}
.ben-col{
  width: 22%;
  background-color: #fff;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom:1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-inline: 0.7rem;
  border-radius: 0.4rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.2s;
}

.ben-col:hover, .ben-col:focus{
  transform: scale(1.05);
}

.ben-icon{
  width: 5rem;
  height: 5rem;
  background-size: cover;
}

.ben-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 0.5rem;
}

.ffc-page-wholesale-landing .ffc-page-landing .landing-block {
  margin-bottom:2rem!important;
}

@media screen and (max-width: 590px){
  .ben-col{
    width: 43%;
    margin-bottom: 1.3rem;
  }
}

/* product categories and stockist community wholesale */
.product-promotion__image {
  transition: transform 0.5s;
}
.product-promotion__image:hover, .product-promotion__image:focus{
  transform: scale(1.05);
}

.landing-block--testimonials-with-images .testimonials-with-images__slider .testimonials-with-images__item .image-area .image-wrap--ffc img {
  transition: transform 0.5s;
}
.landing-block--testimonials-with-images .testimonials-with-images__slider .testimonials-with-images__item .image-area .image-wrap--ffc img:hover, .landing-block--testimonials-with-images .testimonials-with-images__slider .testimonials-with-images__item .image-area .image-wrap--ffc img:focus{
  transform: scale(1.02);
}

/* company logos wholesale */

.landing-block--logo-grid .logo-grid__list .logo-grid__item {
  width: 305px;
}

@media screen and (max-width: 589px){
  .landing-block--logo-grid .logo-grid__list {
    align-items: center;
    justify-content: start;
  }
  .logo-bar .logo-bar__item .logo-bar__image {
    padding: 0;
    height: 63px;
  }
  .ben-head-text {
    font-size: 2rem;
  }
  .ben-main {
    padding: 2rem 0;
  }
  .ben-main .row {
    margin-bottom: 0;
  }
  .ben-text{
  	padding: 0;
  }
}
.ffc-logolist-section .logo-bar {
  justify-content:space-evenly;
}

/* contact border-rad */

.landing-block--contact .contact__content .contact__item {
  border-radius: 0.3rem;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}



.page-content-alt {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
@media (min-width: 600px) {
  .page-content-alt {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content-alt {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 400px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
@media screen and (max-width:590px){
  .copy{
    display: none;
  }
}
.btn-alt {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #202020;
  border: none;
  border-radius: 0.2em;
}
.btn-alt:hover {
  background-color: #0d0d0d;
}
.btn-alt:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* yotpo reviews slider */

.yotpo div, .yotpo span, .yotpo p, .yotpo a, .yotpo img, .yotpo i, .yotpo strong, .yotpo sup, .yotpo ul, .yotpo li, .yotpo form, .yotpo label {
  font-family: 'Gotham Rounded Book', verdana, sans-serif!important;
}

.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-review-body{
  margin-left: 0!important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-review-title {
  margin-bottom: 0.5rem!important;
}
.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .y-slider-container .single-carousel .product-image-container .y-carousel-product-image img {
  object-fit: cover;
}
/* collection pages top */

@-webkit-keyframes fadeIn {
    0% {
      filter: blur(8px);
      opacity: 0;
      -webkit-filter: blur(8px);
    }
    100% {
      filter: blur(0);
      opacity: 1;
      -webkit-filter: blur(0);
    }
  }
  @keyframes fadeIn {
    0% {
      filter: blur(8px);
      opacity: 0;
      -webkit-filter: blur(8px);
    }
    100% {
      filter: blur(0);
      opacity: 1;
      -webkit-filter: blur(0);
    }
  }
  
  
  .heading-main-lev {
    bottom: 30px;
    left: 30px;
    position: absolute;
  }
  @media only screen and (max-width: 68.75em) {
    .heading-main-lev {
      bottom: 20%;
      left: 0;
      padding: 0 5rem;
      text-align: center;
      width: 100%;
    }
  }
  @media only screen and (max-width: 28.125em) {
    .heading-main-lev {
      padding: 0 2rem;
      text-align: center;
      top: 60%;
      width: 100%;
    }
  }
  .heading-main-lev--main {
    -webkit-animation: fadeIn 0.8s ease-out 1s;
    animation: fadeIn 0.8s ease-out 1s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    background-color: rgba(255, 255, 255, 0.7);
    /* color: black; */
    display: inline-block;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
    /* mix-blend-mode: screen; */
    padding: 1rem 1rem 1rem 1rem;
  }
  @media only screen and (max-width: 68.75em) {
    .heading-main-lev--main {
      font-size: 2rem;
    }
  }
  @media only screen and (max-width: 56.25em) {
    .heading-main-lev--main {
      background-color: rgba(255, 255, 255, 0.6);
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 28.125em) {
    .heading-main-lev--main {
      font-size: 1rem;
    }
  }
  .heading-main-lev--sub {
    -webkit-animation: fadeIn 0.5s ease-out 1.2s;
            animation: fadeIn 0.5s ease-out 1.2s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    /* color: #fff; */
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    padding: 0.5rem 2rem 0.5rem 0;
  }
  @media only screen and (max-width: 68.75em) {
    .heading-main-lev--sub {
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.6);
      padding: 0.5rem 2rem;
      letter-spacing: 0.1rem;
    }
  }
  @media only screen and (max-width: 56.25em) {
    .heading-main-lev--sub {
      font-size: 0.7rem;
    }
  }
  .heading-section-lev {
    background: linear-gradient(to right, #714214, #d07a25);
    color: transparent;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 1.25rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    -webkit-background-clip: text;
  }
  .heading-number-lev {
    color: rgba(255, 255, 255, 0.7);
    font-size: 10rem;
    font-weight: 700;
    height: 70%;
    left: 1.7rem;
    position: absolute;
  }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .heading-number-lev {
      color: rgba(255, 255, 255, 0.5);
      display: block;
      font-size: 15rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  .header {
    padding: 0 0 2rem;
  }
  @media screen and (max-width:68.75em){
    .header{
      padding-top: 0;
    }
  }
  @media only screen and (max-width: 68.75em) {
    .header {
      padding-bottom: 0rem;
    }
  }
  .header__container {
    -webkit-animation: fadeIn 1s ease-out;
            animation: fadeIn 1s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;
    margin-bottom: 1rem;
    position: relative;
    transition: all 0.5s;
  }

  @media screen and (min-width: 68.5rem) {
    .header__container {
      background-position: bottom -60px right 0px;
    }
  }
  @media only screen and (max-width: 68.75em) {
    .header__container {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
      height: 30rem;
      background-position: center!important;
    }
  }
  
/* subscription hero */
.sub-text{
  order:1;
}
.sub-head-wrap{
  width:79.66%!important;
}
.sub-head{
  margin-bottom: 1rem;
  color: #F1BB5A;
  letter-spacing: 0.02em;
  font-weight: 800;
}

@media (min-width: 768px){
  .sub-head{
    font-size: 4rem;
    margin-bottom: 3rem;
    line-height: 1.1;
  }
}
.sub-btn{
  font-weight: 700;
  color: #F1BB5A;
  border: 1px solid #F1BB5A;
  border-radius: 0.2em;
  transition: all 0.2s;
  display: inline-block;
}

.sub-img{
  object-fit: cover;
  order: 2;
}

.sub-btn:hover{
  color:white;
  background-color: #F1BB5A;
}

.flex-col{
  flex-direction: column;
}

@media (min-width: 1280px){
  .flex-row-alt {
    flex-direction: row;
  }   
}

.w-full{
  width: 100%;
}

@media (min-width: 1280px){
  .w-1-2 {
    width: 50%;
  } 
}

.sub-container{
  margin-bottom: -2rem;
}

.ffc-page-subscription-landing .landing-block--columns-with-icons>.page-width{
  background: #fafafa;
  margin: -8.5rem auto -5rem;
  padding: 5rem 0 3rem;
}

.ffc-page-subscription-landing .landing-block--columns-with-icons{
  background: #fafafa;
}

.ffc-page-subscription-landing .landing-block--columns-with-icons .section-header .section-header__title--smaller{
  margin-bottom: 3rem;
}

.ffc-page-subscription-landing .landing-block--columns-with-icons .flex {
  justify-content: center;
}

.ffc-page-subscription-landing .landing-block--columns-with-icons .column-with-icon {
  margin-inline:0.5rem;
  transition: margin-inline 0.5s ease-in-out;
}

.ffc-page-subscription-landing .ben-container {
  padding-top: 2rem;
  background: #fafafa;
  background: linear-gradient(180deg, rgba(250,250,250,1) 50%, rgba(255,255,255,1) 100%);
}
.ffc-page-subscription-landing .landing-block--subscription-product {
  padding-bottom: 5rem;
  background: linear-gradient(180deg, rgba(250,250,250,1) 87%, rgba(255,255,255,1) 100%);
}
@media screen and (max-width:786px){
  .sub-container{
    padding: 2rem 0 0;
  }
  .sub-text{
    order: 2;
    background: #fafafa;
    margin-top: 0!important;
    padding-top: 1rem;
  }
  .sub-img{
    order: 1;
  }
  .sub-head{
    text-align: center;
  }
  .sub-head-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ffc-page-subscription-landing .landing-block--columns-with-icons>.page-width{
    margin-top: -5.5rem;
  }
}

@media screen and (max-width: 1000px){
  .ffc-page-subscription-landing .landing-block--columns-with-icons .column-with-icon{
    margin-inline: 0.5rem!important;
  }
}

.landing-block--columns-with-icons .flex .column-with-icon .rte {
  max-width: 320px;
}

.ffc-select-subscription .page-width .grid .grid__image{
  padding-left: 0!important;
  padding-right: 30px;
}

.ffc-select-subscription .page-width .grid .grid__image .product__photos .product__main-photos {
  max-height:610px;
  height: unset;
}
/* login page */

.link {
  color: #c4c3ca;
  transition: all 0.2s;
}
.link:hover {
  color: #fff;
  text-decoration: none;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #fff;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #fff;
  background-color:#6CACE4;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:not(:checked) + label, .checkbox:checked + label {
  border: 1px solid #6CACE4;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 450px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 400ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #6CACE4;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #fff;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #6CACE4;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  margin-left: -0.2em;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn-login{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #fff;
  color: #4f4f4f;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
.btn-login:active,
.btn-login:focus{  
  background-color: #fff;
  text-decoration: none;
  color: #6CACE4;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn-login:hover{  
  background-color: #fff;
  text-decoration: none;
  color: #6CACE4;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.1);
}


.switch-login {
  padding-inline: 1rem;
  font-weight: 700;
}

.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}

.center-wrap h4 {
  font-size: 1.5rem;
  color: white;
}

/* mobile grid images */
@media screen and (max-width: 590px) {
  .homepage .grid--uniform {
    margin-left: 0px;
  }
  .homepage .grid__item:nth-child(even) { 
    padding-left: 7.5px;
  }
  .homepage .grid__item:nth-child(odd) { 
    padding-right: 7.5px;
    padding-left: 0;
  }
  .collection-section-template .grid--uniform {
    margin-left: 0px;
  }
  .collection-section-template .grid__item:nth-child(even) { 
    padding-left: 7.5px;
  }
  .collection-section-template .grid__item:nth-child(odd) { 
    padding-right: 7.5px;
    padding-left: 0;
  }
}

/* homepage logos */
@media screen  and (min-width: 768px){
  .homepage .logo-bar {
    max-width: 800px;
    gap: 60px;
  }
  .homepage .logo-bar .logo-bar__item .logo-bar__image {
    height: 160px;
  }
  .ffc-logos{
    padding-bottom: 0;
  }
}
@media screen and (max-width: 768px){
  .logo-bar .logo-bar__item .logo-bar__image img{
    width: 40%;
  }
  .homepage .logo-bar .logo-bar__item .logo-bar__image {
    height: 80px;
  }
}
/* you may also like */

.grid-product__title{
  color: #4f4f4f;
}
.product-recommendations .grid .grid-product .grid-product__content .btn:hover, .product-recommendations .grid .grid-product .grid-product__content .btn:active, .product-recommendations .grid .grid-product .grid-product__content .btn:focus{
  background-color: #6cace4!important;
  border-color: #6cace4!important;
}

/* newsletter */

.newsletter-section{
  background-color: white!important;
  color: #4f4f4f!important;
}

.newsletter-section .newsletter-input-group .btn {
  background-color: #6cace4!important;
  border-color: #6cace4!important;
}

.variant-input-wrap input[type=radio]:checked+label {
  background-color: #6CACE4;
  color: white;
  box-shadow: none;
  border-color:#6CACE4;
  transition: background-color 0.5s;
}

.product-buttons .input-group.btn:after {
  border: 1.5px solid #bcbcbc!important;
  background: #fff;
}
.product-buttons .btn.active:before {
  background-color: #6cabe2;
  border: 1.5px solid #202020;
}

.product-buttons .input-group.btn.active:after {
  display:none;
}

.product-single__form .variant-input-wrap label {
  padding:9px 37px;
}

.product-buttons .input-group.btn.active {
  color: #202020!important;
  background-color: #d6e5f4!important;
  border-color: #bbd6ed!important;
}

.product-single__form .product-qty-atc .product__quantity {
  border: 1px solid #6cabe2;
}

.product-buttons .input-group.btn {
  background-color: #f2f2f2!important;
  border-color: #ecf0f1!important;
}

/* 10% off  */
@media screen and (max-width: 768px) {
  #_hjRemoteVarsFrame > div > .needsclick {
    left:50%!important;
  }
}
 /* copy */

.cart-item--rivets.cart-item--upsell .left-area a img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.cart-item--rivets.cart-item--upsell .left-area {
  width: 100%;
}

.cart-item--rivets.cart-item--upsell {
  width: 50%;
  padding: 0 14px;
  border-bottom: 0;
}

.cart-item--rivets.cart-item--upsell .right-area {
    width: 100%;
    padding: 0;
    margin: auto 0 0;
}

.cart-item--rivets.cart-item--upsell .right-area .cart-item-product-title {
  display: inline-block;
  font-family: Gotham Rounded Book,sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0 6px;
}

.cart-item--rivets.cart-item--upsell .right-area .btn {
  width: 100%;
  min-width: 100%;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  margin-top: 16px;
  letter-spacing: 0;
}

/* rewards page */

.hero_container, .refer_container {
  box-sizing: border-box;
  font-family: 'Gotham Rounded Medium', verdana;
}
.img_wrap {
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80');
  height: 27rem;
}
.text_wrap, .refer_text_wrap{
  padding-top: 56px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  color: #4F4F4F;
}
.rewards_head{
  font-weight: bold;
  font-size: 4rem;
  line-height: 87px;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
}
.rewards_btn{
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.9px;
  color: #AE9CDB;
  width: 235px;
  height: 56px;
  background: #fff;
  border: 1px solid #AE9CDB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  transition: all 0.2s;
  border-radius: 0.2em;
}
.rewards_btn:hover{
  background: #AE9CDB;
  color: white;
}

.rewards_text{
  margin-bottom: 2rem;
  font-size: 1.1rem;
}
.rewards_account{
  display: inline;
}
.rewards_login_alt{
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
.refer_info_head{
  font-size: 3rem;
}
.info_head{
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
}
.info_col{
  padding: 3rem;
  text-align: center;
}

.rewards_logo_wrap{
  margin: 0 auto;
}

.rewards_logo {
  background-size: cover;
  width:5rem;
  height:5rem;
  margin: 0 auto 2rem;
}

/* btn focus */

.btn:focus{
  background-color: unset !important;
  border-color: unset !important;
  box-shadow: unset;
}

.logo-bar .logo-bar__item .logo-bar__image{
  padding: 0;
}